{% extends 'index.twig' %}
{% block container %}
<div class="container">
    <h1>{{ response.meta.responseCode }}</h1>
    <p>
        This request has encountered an error. Please check your settings
    </p>
</div>
{% endblock %}