{% extends 'index.twig' %}
{% block h1 %}{{ response.meta.responseCode }}{% endblock %}
{% block container %}
<div class="container">
    <p>
        This request has encountered an error.
    </p>
</div>
{% endblock %}