<div class="modal fade " id="{{ modal.id ?? 'bs4-modal' }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-title">{{ modal.title }}</div>
        <div class="modal-content">{{ modal.content }}</div>
        <div class="modal-footer">{{ modal.footer }}</div>
    </div>
</div>