<footer class="container-fluid">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; {{ "now"|date('Y') }} {{ domain }} &middot; powered by <a href="https://shermanwebdesign.com">SWD</a> </p>
</footer>