{% extends 'index.twig' %}
{% block content %}
    <div class="container">
        <h1>Create {{ class(data)|replace({'App\\Entities\\':''}) }}</h1>
        {% import 'form.twig' as form %}
        {{ form.renderForm( formFields(data)) }}
    </div>
{% endblock %}