{% extends 'index.twig' %}
{% block content %}
    <div class="container" data-type="{{ response.data.dotClass }}" data-id="{{ response.data.id }}">
        <h1>{{ response.data.h1 }}</h1>
        {{ response.data.content|markdown|purify|raw }}
    </div>
{% endblock %}